body {
  background-color: #f8f9fa;
  /* display: flex;
  justify-content: center; */
}


/* .container {
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  width: 70%;
  margin-right: 10px;
}

button {
  padding: 10px 15px;
  font-size: 16px;
  margin-right: 5px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: #f9f9f9;
  margin-bottom: 8px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a {
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  color: #007bff;
}

a:hover {
  text-decoration: underline;
} */
